
.author{
    margin-top:38px;
}

#cards{
    margin-top: -140px;
}

.card{
    border:none;
}



.rond{
    height: 44px; 
    width: 44px; 
    margin-right:20px;
    background-color: black;
    border: 5px solid rgba(0, 0, 0, 1);
    border-radius: 50%; 
}
header{
    background-image: url('img/lg4.jpg');
    background-size: cover;
    padding-bottom: 280px;
}

#section_carousel ul{
    margin-top: 34px;
}

#section_carousel ul li{
    margin-bottom: 14px;
}

#main_titre{
    margin-top: 200px;
}

#presentation{
     /*background-image: url('img/woman-4702060_1920.jpg');*/
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
}

#section_presentation{
    padding-top: 80px;
    padding-left:122px;
    padding-right: 442px;
    padding-bottom: 88px;
}

#section_contact{
    padding-bottom: 30px;
    padding-top: 50px;
}

@media all and (max-width:490px){

 header{
     margin-top:56px;
     padding-bottom: 142px;
 }

 #cards{
    margin-top: 0px;
}

 #navigation{
     background-color:grey;
     color:black;
     margin:0;
     width:100%;
     position: absolute;
     top:0;
     left:0
 }
 #cards{
    padding: 0;
}


.card-body{
    padding-left:25px ;
    padding-right:25px ;
}
 #main_titre{
     margin-top: 0px;
     padding-bottom: 142px;
     padding-top:190px;
 }

 .card{
   border:0px;
 }

 #section_presentation{
    padding-top: 34px;
    padding-left:25px;
    padding-right: 72px;
    padding-bottom: 35px;
}

#section_contact{
    padding-bottom: 30px;
    padding-top: 34px;
    text-align: center;
}

#section_carousel{
    margin:0;
    padding:0;
    padding-top: 40px;
}

#Newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 38px;
}

#section_contact{
    padding-top:46px;
}

#reseaux_sociaux{
    margin-top:24px;
    text-align: center;
}

#mentions_legales{
    text-align: center;
}

#carte{
    margin-left: 0px;
}
.card-body{
    text-align: center;
}

}