.card{
    width:320px;
    height:120%;}
    
header{
    background-image: url('img/lg4.jpg');
    background-size: cover;
    padding-bottom: 280px;
}

#main_titre{
    margin-top: 200px;
}

#txt_presentation{
    margin-right: 122px;
}

@media all and (max-width:490px){

 header{
     padding-bottom: 100px;
 }
 #main_titre{
     margin-top: 0px;
 }

}