.card{
    width:320px;
    height:120%;}
    
header{
    background-image: url('img/lg4.jpg');
    background-size: cover;
    padding-bottom: 280px;
}

#main_titre{
    margin-top: 200px;
}

#presentation{
     background-image: url('img/woman-4702060_1920.jpg');
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
}

#section_presentation{
    padding-top: 80px;
    padding-left:122px;
    padding-right: 442px;
    padding-bottom: 88px;
}

#section_contact{
    padding-bottom: 30px;
    padding-top: 50px;
}

@media all and (max-width:490px){

 header{
     margin-top:56px;
     padding-bottom: 142px;
 }

 #navigation{
     background-color:grey;
     color:black;
     width:100%;
     position: fixed;
     top:0;
     left:0
 }

 #main_titre{
     margin-top: 0px;
     padding-top:190px;
 }

 #section_presentation{
    padding-top: 0px;
    padding-left:0px;
    padding-right: 0px;
    padding-bottom: 88px;
}

#section_contact{
    padding-bottom: 30px;
    padding-top: 20px;
    text-align: center;
}

#Newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

}